
@model IEnumerable<MusicAlbumWeb.Album>

ViewBag.Title = "Albams";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Audio Player</title>
    <link href="~/Content/CardStyles.css" rel="stylesheet" />
    <script src="~/ScriptMusic/SearchMusic.js"></script>
    <style>


        .containersearch {
            text-align: center;
        }

        #search-bar {
            position: relative;
            max-width: 600px;
            margin: 20px auto;
        }


        #search-input {
            border-radius: 5px;
            background-color: #394246;
            width: 100%;
            padding: 8px;
        }

        .search-results {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .search-results-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            .search-results-list li {
                padding: 5px;
                border-bottom: 1px solid #ccc;
            }

                .search-results-list li:last-child {
                    border-bottom: none;
                }
        

        h2 {
            font-weight: bold;
            font-size: 2em;
            margin-top: 20px;
            font-style: italic;
        }

        img {
            margin-right: 30px;
        }

        .thumbnail {
            background-color: transparent;
            width: fit-content;
            border: none;
        }

        .container {
            height: fit-content;
            margin-left: 0px;
        }

        h2.a {
            text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
        }

        h2.b {
            text-shadow: 0 0 0.2em #83dc4e, 0 0 0.2em #F87
        }

        .shadow1 {
            text-shadow: 0 0 0.2em #3f4f78, 0 0 0.2em #3f4f78
        }

        h2.c {
            text-shadow: 0 0 0.2em #ae9e29, 0 0 0.2em #ae9e29;
        }

        .margin-top {
            margin-top: 20px;
        }

        .card2 {
            box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        }

        .width-90 {
            width: 90px !important;
        }

        .rounded-3 {
            border-radius: 0.5rem !important;
        }

        .decnone {
            text-decoration: none;
        }

        .container {
            height: 300px; /* Set the desired height */
            overflow-y: auto; /* Enable vertical scrollbar when content exceeds the height */
            margin-top: 20px; /* Adjust as needed */
        }
    </style>
</head>
<body>

    <div class="containersearch">
        <div id="search-bar">
            <input style="width: 600px; max-width:600px;" type="text" id="search-input" placeholder="Search Music,Artist,Album..." oninput="showResults()">
            <div id="autocomplete-results" class="autocomplete-results"></div>
        </div>
    </div>

    <h2 class="b">Music Albums</h2>
    <div class="row">
        @for (var i = 0; i < Model.Count(); i++)
        {
            var musicItem = Model.ElementAt(i);

            <div class="col-sm-12 col-md-6 col-lg-3  margin-top">
                    <div class=" d-flex flex-column">
                        <a href="https://www.youtube.com/playlist?list=PL3Jg9vLWQdmyPTW6UCbLdxmUwQDHBa3qw" target="_blank" style="text-decoration: none; color: inherit;">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <img class="width-90 rounded-3 card text-dark card-has-bg click-col" style="height: 250px; min-width: 250px; object-fit: cover; object-position: center;"
                                         src=@Url.Content("~/Content/images/" + musicItem.AlbumPic) />
                                </div>
                                <div class="col-md-8" style="width: fit-content; height:40px">
                                    <div class="overflow-hidden">
                                        <h3 class="mb-1">
                                            <span class="text-with-shadow1 ">@musicItem.Albumname</span>
                                        </h3>
                                        
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                
            </div>

            
        }
    </div>
            
        </div>
    </div>
    
</body>