
@{
    ViewBag.Title = "HomePage";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Audio Player</title>
    <style>
        body {
            background-color: #282c34;
            color: #FFFFFF;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        #search-bar {
            margin: 20px;
            display: flex;
            align-items: center;
        }

        #search-input {
            padding: 10px;
            width: 300px;
            font-size: 1em;
            color: #333; /* Text color in the input field */
            background-color: #f2f2f2; /* Light gray background */
            border: 2px solid #666; /* Dark gray border */
            border-radius: 5px; /* Rounded corners */
            margin-right: 10px; /* Spacing between input and button */
            outline: none; /* Remove default input focus outline */
        }

            #search-input:focus {
                border-color: #999; /* Darker border color on focus */
            }

        #search-button {
            padding: 10px;
            font-size: 1em;
            color: #FFFFFF;
            background-color: #666; /* Dark gray background */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease; /* Smooth transition on hover */
        }

            #search-button:hover {
                background-color: #444; /* Darker gray on hover */
            }

        h2 {
            font-weight: bold;
            font-size: 2em;
            margin-top: 20px;
            font-style: italic;
        }

        img {
            margin-right: 30px;
        }
    </style>
</head>
<body>


    <br />
    <br />
    <br />
    <div id="search-bar">
        <input type="text" id="search-input" placeholder="Search...">
        <button id="search-button">Search</button>
    </div>

    <h2>Top Charts Music</h2>
    <img src="~/image/1.jpg" width="200" height="200">
    <img src="~/image/2.jpg" width="200" height="200">
    <img src="~/image/3.jpg" width="200" height="200">
    <img src="~/image/4.jpg" width="200" height="200">
    <br />

    <h2>Popular</h2>
    <img src="~/image/1.jpg" width="200" height="200">
    <img src="~/image/2.jpg" width="200" height="200">
    <img src="~/image/3.jpg" width="200" height="200">
    <img src="~/image/4.jpg" width="200" height="200">
    <br />

    <h2>Music Genres</h2>
    <!-- Add your content for Music Genres here -->
    <br />
</body>
</html>

