
@{
    ViewBag.Title = "HomePage";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Audio Player</title>
    <style>
        body {
            background-color: #282c34; /* Set your desired background color */
            color: #FFFFFF; /* Set your desired text color */
            font-family: Arial, sans-serif; /* Choose a suitable font */
            margin: 0; /* Remove default margin */
            padding: 0; /* Remove default padding */
        }

        h2 {
            font-weight: bold;
            font-size: 2em;
            margin-top: 20px;
            font-style: italic;
        }

        img {
            margin-right: 30px; /* Adjust the margin as needed */
        }

    </style>
</head>
<body>
	<h2>Homepage</h2>

	
</body>
</html>
